.AddForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;

  .row {
    display: flex;
    .label {
      width: 100px;
      text-align: start;
    }
    margin-bottom: 10px;
  }

  .validation-message {
    color: red;
  }
}